.About {
  width: 100%;
  height: auto;
  padding: 0 30px;
  padding-bottom: 100px;
  padding-top: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.About-container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.about-container-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aboutimg {
  max-width: 607px;
  max-height: 559px;
}
.about-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px;
}
.about-heading {
  color: #383838;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
}
.about-small-text {
  max-width: 460px;
  color: #383838;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 181.25% */
}
@media (min-width: 1500px) {
    .About-container{
      width: 1400px;
    }
  }
@media(max-width:1000px){
  .About-container{
    grid-template-columns: 1fr;
    gap: 70px;
  }
  .about-container-1 {
    justify-content: center;
}
.about-container-2 {
  text-align: center;
}
}
@media(max-width:600px){

  .about-heading {
    font-size: 38px;
  }
}
@media(max-width:450px){
  .aboutimg{
    width: 80%;
    height: 80%;
  }
  .about-heading {
    font-size: 30px;
  }
  .about-small-text {
    font-size: 12px;
  }
}