.Testimonial {
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  overflow: hidden;
}
.Testimonial-container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 52px;
}
.Testimonial-contain-text {
  display: grid;
  gap: 11px;
}
.Testimonial-heading {
  color: #383838;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Testimonial-small-text {
  color: #383838;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Testmonial-slider-carousel {
  width: 95vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-box {
  max-width: auto;
  height: 486px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #fff;
  backdrop-filter: blur(7.199999809265137px);
  padding: 10px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.testimonial-box-first {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.testimonial-date {
  color: #454545;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.testimonial-rating {
  width: 89.684px;
  height: 13px;
}
.testimonial-box-second {
  display: grid;
  gap: 10px;
}
.testimonial-box-second-1 {
  width: 100%;
  position: relative;
}
.testimonial-box-second-2 {
  width: 100%;
  position: relative;
}
.first {
  width: 22.4px;
  height: 16px;
  position: absolute;
  top: -20px;
}
.second {
  width: 22.4px;
  height: 16px;
  position: absolute;
  right: 0;
}
.testimonial-message {
  color: #454545;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}
.testimonial-box-third {
  width: 100%;
  position: relative;
}
.testimonial-name {
  position: absolute;
  left: 60px;
  color: #454545;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  bottom: 60px;
}
@media (min-width: 1500px) {
  .Testimonial-container {
    width: 1400px;
  }
  .Testmonial-slider-carousel {
    width: 1300px;
  }
}
@media (max-width: 900px) {
  .testimonial-box {
    max-width: auto;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .Testimonial-heading {
    font-size: 38px;
  }

  .testimonial-message {
    font-size: 18px;
  }
  .first {
    width: 20px;
    height: 14px;
  }
  .second {
    width: 20px;
    height: 14px;
  }
}
@media (max-width: 450px) {
  .Testimonial-heading {
    font-size: 30px;
  }
  .Testimonial-small-text {
    font-size: 12px;
  }
  .testimonial-message {
    font-size: 16px;
  }
  .first {
    width: 16px;
    height: 14px;
  }
  .second {
    width: 16px;
    height: 14px;
  }
}
/* 
import Slider from "react-slick";
import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css"; */
