@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Rozha+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.App {
  text-align: center;
  background-color: #F9F9F9;
}

